body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
}
.card {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2em;
    border-radius: 30px;
    max-width: 420px;
    width: 100%;
    margin: 1em;
}
.search-city {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    margin: 0;
    height: 44px;
    width: 44px;
    outline: none;
    border-radius: 50%;
    border: none;
    background-color: rgba(124, 124, 124, 0.2);
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 0.9em;
}
.button:hover {
    background-color: rgba(124, 124, 124, 0.5);
}
.city-bar {
    border: none;
    outline: none;
    margin: 0em 1em;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: rgba(124, 124, 124, 0.5);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
.weather-degree h2 {
    font-size: 2.5em;
    margin: 0.5em 0;
}
h3 {
    margin: 0.3em 0em;
}
.weather-description {
    display: flex;
    align-items: center;
    justify-content: end;
}
.weather-humidity {
    margin: 0 0 0.3em;
    display: flex;
    justify-content: end;
}
.weather-wind {
    margin: 0 0 0.3em;
    display: flex;
    justify-content: end;
}